<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AnimeFinder</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles/style.css" />
    
  </head>
  <body>
    <main>
      <h1>Welcome to AnimeFinder</h1>
      <p>A place to find Anime for anime lovers</p>
      <a class="navLink" href="/">Back to home</a>
      <form action="/search" method="post" id="animeSearchForm">
        <label for="anime_name"></label>
            <div class="searchDiv">
                <span>
                    <img src="images/searchIcon.svg" alt="">
                </span>
                <input class="searchBar" required id="anime_name" type="search" name="anime_name"> 
            </div>           
           
    
        
        <input type="submit" class="searchBtn" value="search">
      </form>



      <% if (locals.anime_data) { %>
      <div class="anime-card">
         <%   anime_data.forEach((anime) => { %>
       <div class="anime-card-data">
        
          <div class="anime-img">
              <img src="<%=anime.images.jpg.image_url%>" alt="" />
          </div>
          <div class="description">
            <div class="anime-title">
              <p>Title: <span class="bold"><%= anime.titles[0].title %></span></p>
            </div>
            <div class="anime-airing">
              <p>Status: <span class="bold"><%= anime.status %></span></p>
            </div>
            <div class="anime-eps">
              <p>Episodes: <span class="bold"><%= anime.episodes %></span></p>
            </div>
       </div>
          
        </div>

        <% }) %>
        
       
      </div>
    <% } else if (locals.search_data) { %>
        <div class="anime-card">
        <div class="anime-img">
            <img src="<%=search_data.image%>" alt="" />
        </div>
        <div class="description">
             <div class="anime-title">
          <p>Title: <span class="bold"><%= search_data.title %></span></p>
        </div>
        <div class="anime-airing">
          <p>Status: <span class="bold"><%= search_data.status %></span></p>
        </div>
        <div class="anime-eps">
          <p>Episodes: <span class="bold"><%= search_data.episodes %></span></p>
        </div>
          
        <hr>
        <div class="anime-synopsis">
          <p class="small"><%= search_data.synopsis %></p>
        </div>
        
       
        </div>
       
      </div>
      <% } %>


      <% if (locals.error) { %>
          <p><%=error  %></p>
      <% } %>

      
      
    </main>
  </body>
</html>
